.videoContainer {
  position: relative;
  height: 50vh;
  width: 100%;
}

.video {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.videoLoading {
  text-align: center;
  color: grey;
}

.video video {
  width: 100%;
}

.drawingBuffer {
  display: none;
}

.videoTitle {
  padding-top: 50px;
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
}

.videoUnsupported{
  text-align: center;
  height: 100%;
  padding-top: 50px;
}

.videoUnsupported video {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}